@model IEnumerable<CommunityResources.Models.Organization>

@{
    ViewData["Title"] = "InitialResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/site.css" type="text/css" runat="server">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script> src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7-vsdoc.js"> </script>
    
</head>
<body>
    <header class="container">
        <div class="row">
            <h1 class="col-sm-10" id="title">Community Resources</h1>
            <div id="google_translate_element"></div>
            <script type="text/javascript">

                function googleTranslateElementInit() {

                    new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element');

                }

            </script>
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </div>
    </header>
    <h2>Results</h2>


    <div id="datepicker">
        <script>
            $("#datepicker").datepicker();
            $("#datepicker").on("change", function () {
                var selected = $(this).val();
                var date = new Date(selected);

                var d = date.getDate();
                var day = date.getDay();
                var weekOfMonth = Math.ceil((d - 1 - day) / 7) + 1;
                $("#week1").val(weekOfMonth.toString());
                $("#day1").val(date.toLocaleDateString("en-US", { weekday: 'long' }));

                });
        </script>
    </div>

    <div id="displayDate"></div>

    @using (Html.BeginForm("InitialResults", "Home", FormMethod.Get))
    {
    <div>
        @Html.DropDownList("day",
             new List<SelectListItem> {
new SelectListItem{Text=""},
new SelectListItem{Text="Sunday"},
new SelectListItem{Text="Monday"},
new SelectListItem{Text="Tuesday"},
new SelectListItem{Text="Wednesday"},
new SelectListItem{Text="Thursday"},
new SelectListItem{Text="Friday"},
new SelectListItem{Text="Saturday"}},
             new { @id = "day1" })
        @Html.DropDownList("repeats",
                new List<SelectListItem> {
new SelectListItem{Text=""},
new SelectListItem{Text="1"},
new SelectListItem{Text="2"},
new SelectListItem{Text="3"},
new SelectListItem{Text="4"},
new SelectListItem{Text="5"},
new SelectListItem{Text="6"}},
             new { @id = "week1" })<br />
        <p>Start Time: </p>
                <select name="timeS" id="stime">
            
            <option value="">--Select start time--</option>
                   </select><br /><br />
                <p>End Time: </p>
                <select name="timeE" id="etime">
            
            <option value="">--Select end time--</option>
                    </select><br />



        <input id="datepicker" type="hidden" runat="server" />

        <br />
        <input type="submit" value="Filter" runat="server" OnClientClick="funct()" />
    </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Email
                </th>

                <th>
                    Phone Number
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Contacts.AddressFull)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contacts.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contacts.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contacts.Street_Address)
                        <br />
                        @Html.DisplayFor(modelItem => item.Contacts.Town_Address)
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Organizations" asp-action="Details" asp-route-id="@item.Id" asp-route-intitalResults="@ViewData["result"]">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script src="~/js/site.js"></script>
</body>
