@model CommunityResources.Models.Organization

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/site.css" type="text/css" runat="server">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>
<h2>Details</h2>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Other_Requirements)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Other_Requirements)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Other_Requirements_Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Other_Requirements_Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Appointments_Availible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Appointments_Availible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Appointments_Required)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Appointments_Required)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Additional_Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Additional_Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contacts)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Street Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Website</th>
                </tr>
                @foreach (var item in Model.Contacts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street_Address)
                        <br />
                        @Html.DisplayFor(modelItem => item.Town_Address)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Website)
                    </td>
                </tr>
        }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Times)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Day</th>
                    <th>Week of the Month</th>
                    <th>Opening Time</th>
                    <th>Closing Time</th>
                </tr>
                @foreach (var item in Model.Times)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Day)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Repeat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time_Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time_End)
                    </td>
                </tr>
        }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resources)
        </dt>

        @if (Model.Resources.Education.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => Model.Resources.Education)
        </dd>
}
        @if (Model.Resources.Clothing.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => Model.Resources.Clothing)
        </dd>
}
        @if (Model.Resources.Employment.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => Model.Resources.Employment)
        </dd>
}
        @if (Model.Resources.Finances.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => Model.Resources.Finances)
        </dd>
}
        @if (Model.Resources.Food.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => Model.Resources.Food)
        </dd>
}
        @if (Model.Resources.Medical_Prescription.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => Model.Resources.Medical_Prescription)
        </dd>
}
        @if (Model.Resources.Natural_Disaster.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => Model.Resources.Natural_Disaster)
        </dd>
}
        @if (Model.Resources.Rent_Utilities.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => Model.Resources.Rent_Utilities)
        </dd>
}
        @if (Model.Resources.Housing.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => Model.Resources.Housing)
        </dd>
}
        @if (Model.Resources.Veterans.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => Model.Resources.Veterans)
        </dd>
}
        @if (Model.Resources.Senior.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => Model.Resources.Senior)
        </dd>
}
        <dd>
            @Html.DisplayFor(modelItem => Model.Resources.Other_Resources_Text)
        </dd>


}

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
