@model CommunityResources.Models.Organization

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Photo_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Other_Requirements)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Other_Requirements)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Other_Requirements_Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Other_Requirements_Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Appointments_Availible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Appointments_Availible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Appointments_Required)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Appointments_Required)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Additional_Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Additional_Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contacts)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Street Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Website</th>
                </tr>
                @foreach (var item in Model.Contacts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street_Address)
                        <br />
                        @Html.DisplayFor(modelItem => item.City)
                        <br />
                        @Html.DisplayFor(modelItem => item.Zip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Website)
                    </td>
                </tr>
        }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Times)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Day</th>
                    <th>Repeat</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
                @foreach (var item in Model.Times)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Day)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Repeat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time_Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time_End)
                    </td>
                </tr>
        }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resources)
        </dt>

        @foreach (var item in Model.Resources)
    {
        @if (item.Education.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => item.Education)
        </dd>
}
        @if (item.Clothing.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => item.Clothing)
        </dd>
}
        @if (item.Employment.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => item.Employment)
        </dd>
}
        @if (item.Finances.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => item.Finances)
        </dd>
}
        @if (item.Food.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => item.Food)
        </dd>
}
        @if (item.Medical_Prescription.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => item.Medical_Prescription)
        </dd>
}
        @if (item.Natural_Disaster.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => item.Natural_Disaster)
        </dd>
}
        @if (item.Rent_Utilities.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => item.Rent_Utilities)
        </dd>
}
        @if (item.Veterans.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => item.Veterans)
        </dd>
}
        @if (item.Senior.Equals(true))
    {
        <dd>
            @Html.DisplayNameFor(modelItem => item.Senior)
        </dd>
}
        <dd>
            @Html.DisplayFor(modelItem => item.Other_Resources_Text)
        </dd>


}

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
