@model CommunityResources.Models.Organization

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/site.css" type="text/css" runat="server">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>

<body>

    <div>
        <header class="container">

            <div class="row">

                <h1 class="col-sm-10" id="title"> @Html.DisplayFor(model => model.Name) </h1>

                <div class="col-sm-2" id="google_translate_element"></div>
                <div class="col-sm-3" id="google_translate_element">
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'de,es,fr,it,zh-CN,en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element');
                        }
                    </script>
                    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
                    </script>
                </div>
</header>
        <hr />
        <dl class="dl-horizontal">
            <div class="row">

                <div class="col-sm-2"> Requirements:</div>
                <div class="col-sm-10">

                    @if (Model.Photo_ID.Equals(1))
                    {
                        <dt> @Html.DisplayNameFor(model => model.Photo_ID) </dt>
                    }

                    @if (Model.Appointments_Available.Equals(1))
                    {
                        <dt> @Html.DisplayNameFor(model => model.Appointments_Available) </dt>
                    }
                    @if (Model.Appointments_Required.Equals(1))
                    {
                        <dt> @Html.DisplayNameFor(model => model.Appointments_Required) </dt>
                    }
                    @if (Model.Other_Requirements.Equals(1))
                    {
                        <dt> @Html.DisplayNameFor(model => model.Other_Requirements_Text) </dt>
                        <dd> @Html.DisplayFor(model => model.Other_Requirements_Text) </dd>
                    }
                    @if (!Model.Additional_Comments.Equals("None"))
                    {
                        <dt> @Html.DisplayNameFor(model => model.Additional_Comments) </dt>
                        <dd> @Html.DisplayFor(model => model.Additional_Comments) </dd>
                    }
                </div>
            </div>


            <dt> @Html.DisplayNameFor(model => model.Contacts) </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>Street Address</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Website</th>
                    </tr>
                    @if (Model.Contacts != null)
    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Contacts.Street_Address)
                        <br />
                        @Html.DisplayFor(modelItem => Model.Contacts.Town_Address)
                    </td>
                    <td> @Html.DisplayFor(modelItem => Model.Contacts.Phone) </td>
                    <td> @Html.DisplayFor(modelItem => Model.Contacts.Email) </td>
                    <td> @Html.DisplayFor(modelItem => Model.Contacts.Website) </td>
                </tr>
}
                </table>
            </dd>
            @if (Model.Times.Any())
            {
                <dt> @Html.DisplayNameFor(model => model.Times) </dt>
                <dd>
                    <table class="table">
                        <tr>
                            <th>Day</th>
                            <th>Week of the Month</th>
                            <th>Opening Time</th>
                            <th>Closing Time</th>
                        </tr>
                        @foreach (var item in Model.Times)
                        {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.Day) </td>
                                <td> @Html.DisplayFor(modelItem => item.Repeat) </td>
                                <td> @Html.DisplayFor(modelItem => item.Time_Start) </td>
                                <td> @Html.DisplayFor(modelItem => item.Time_End) </td>
                            </tr>
                        }
                    </table>
                </dd>
            }
            @if (Model.Resources != null)
            {
            <dt> @Html.DisplayNameFor(model => model.Resources) </dt>

            @if (Model.Resources.Education.Equals(1))
            {
                <dd> @Html.DisplayNameFor(modelItem => Model.Resources.Education) </dd>
            }
            @if (Model.Resources.Clothing.Equals(1))
            {
                <dd> @Html.DisplayNameFor(modelItem => Model.Resources.Clothing) </dd>
            }
            @if (Model.Resources.Employment.Equals(1))
            {
                <dd> @Html.DisplayNameFor(modelItem => Model.Resources.Employment) </dd>
            }
            @if (Model.Resources.Finances.Equals(1))
            {
                <dd> @Html.DisplayNameFor(modelItem => Model.Resources.Finances) </dd>
            }
            @if (Model.Resources.Food.Equals(1))
            {
                <dd> @Html.DisplayNameFor(modelItem => Model.Resources.Food) </dd>
            }
            @if (Model.Resources.Medical_Prescription.Equals(1))
            {
                <dd> @Html.DisplayNameFor(modelItem => Model.Resources.Medical_Prescription) </dd>
            }
            @if (Model.Resources.Natural_Disaster.Equals(1))
            {
                <dd> @Html.DisplayNameFor(modelItem => Model.Resources.Natural_Disaster) </dd>
            }
            @if (Model.Resources.Rent_Utilities.Equals(1))
            {
                <dd> @Html.DisplayNameFor(modelItem => Model.Resources.Rent_Utilities) </dd>
            }
            @if (Model.Resources.Housing.Equals(1))
            {
                <dd> @Html.DisplayNameFor(modelItem => Model.Resources.Housing) </dd>
            }
            @if (Model.Resources.Veterans.Equals(1))
            {
                <dd> @Html.DisplayNameFor(modelItem => Model.Resources.Veterans) </dd>
            }
            @if (Model.Resources.Senior.Equals(1))
            {
                <dd> @Html.DisplayNameFor(modelItem => Model.Resources.Senior) </dd>
            }

            <dd> @Html.DisplayFor(modelItem => Model.Resources.Other_Resources_Text) </dd>}
        </dl>
    </div>
    @if (@ViewData["adminview"].Equals("admin"))
    {
        <div>
            <a class="btn btn-primary" id="details-btn" asp-action="Index">Back to List</a>
        </div> }
    @if (!@ViewData["adminview"].Equals("admin"))
    {
        <div>
            <a class="btn btn-primary" id="details-btn" asp-area="" asp-controller="Home" asp-action="InitialResults" asp-route-id="@ViewData["adminview"]">Back to List</a>
</div>}
    
</body>