@model CommunityResources.Models.Organization

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        th, td {
            padding: 15px;
        }
    </style>
</head>
<body>
  <div class="edit-page">
        
    <h2>Edit Organization Information</h2>
    <hr />
        
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label><br />
                    <input asp-for="Name" class="form-control" style="border: 2px solid #CFCFCF"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <table>
                    <tr>
                        <th></th>
                        <th>No</th>
                        <th>Yes</th>
                    </tr>

                    <tr class="form-group">
                        <td>@Html.DisplayNameFor(model => model.Appointments_Available)</td>
                        @if (Model.Appointments_Available.Equals(0))
        {
                    <td>
                        <input type="radio" name="Appointments_Available" value="0" class="form-control" checked="checked">
                    </td>
                    <td>
                        <input type="radio" name="Appointments_Available" value="1" class="form-control">
                    </td>}
                        @if (Model.Appointments_Available.Equals(1))
        {
                    <td>
                        <input type="radio" name="Appointments_Available" value="0" class="form-control">
                    </td>
                    <td>
                        <input type="radio" name="Appointments_Available" value="1" class="form-control" checked="checked">
                    </td>
                        }


                    </tr>
                    <tr class="form-group">
                        <td>@Html.DisplayNameFor(model => model.Appointments_Required)</td>
                        @if (Model.Appointments_Required.Equals(0))
        {
                    <td>
                        <input type="radio" name="Appointments_Required" value="0" class="form-control" checked="checked">
                    </td>
                    <td>
                        <input type="radio" name="Appointments_Required" value="1" class="form-control">
                    </td>

    }
                        @if (Model.Appointments_Required.Equals(1))
        {
                    <td>
                        <input type="radio" name="Appointments_Required" value="0" class="form-control">
                    </td>
                    <td>
                        <input type="radio" name="Appointments_Required" value="1" class="form-control" checked="checked">
                    </td>

    }

                    </tr>
                    <tr class="form-group">
                        <td>
                            @Html.DisplayNameFor(model => model.Photo_ID)
                        </td>@if (Model.Photo_ID.Equals(0))
        {
                        <td><input type="radio" name="Photo_ID" value="0" class="form-control" checked="checked"> </td>
                        <td><input type="radio" name="Photo_ID" value="1" class="form-control">  </td>

        }
                        @if (Model.Photo_ID.Equals(1))
        {
                    <td><input type="radio" name="Photo_ID" value="0" class="form-control"> </td>
                    <td><input type="radio" name="Photo_ID" value="1" class="form-control" checked="checked">  </td>

    } 
                    </tr>
                    <tr class="form-group">
                        <td> @Html.DisplayNameFor(model => model.Other_Requirements)</td>
                        @if (Model.Other_Requirements.Equals(0))
        {

                    <td>
                        <input type="radio" name="Other_Requirements" value="0" class="form-control" checked="checked">
                    </td>
                    <td>
                        <input type="radio" name="Other_Requirements" value="1" class="form-control">
                    </td>

    }
                        @if (Model.Other_Requirements.Equals(1))
        {

                    <td>
                        <input type="radio" name="Other_Requirements" value="0" class="form-control">
                    </td>
                    <td>
                        <input type="radio" name="Other_Requirements" value="1" class="form-control" checked="checked">
                    </td>

    }

                    </tr>
                </table><br />
                <div class="form-group">
                    <label asp-for="Other_Requirements_Text" class="control-label"></label>
                    <input asp-for="Other_Requirements_Text" class="form-control" style="border: 2px solid #CFCFCF"/>
                    <span asp-validation-for="Other_Requirements_Text" class="text-danger"></span>
                </div><br />
                <div class="form-group"><br />
                    <label asp-for="Additional_Comments" class="control-label"></label>
                    <input asp-for="Additional_Comments" class="form-control" style="border: 2px solid #CFCFCF"/>
                    <span asp-validation-for="Additional_Comments" class="text-danger"></span>
                </div><br />
                <div class="form-group"><br />
                    <label asp-for="Last_Updated" class="control-label"></label>
                    <input name="Last_Updated" id="Last_Updated" value="@DateTime.Now" readonly />
                    <span asp-validation-for="Additional_Comments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save Changes" class="btn btn-default" id="save-edit-btn"/>
                </div>
            </form>
        </div>
    </div>
    <div>
        <a class="btn btn-primary" id="ews-btn" asp-action="Index">Exit Without Saving</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
  </div>
</body>
