@model IEnumerable<CommunityResources.Models.Organization>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Graces2.css" type="text/css" runat="server"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>

    

    <header class="container">



        <div class="row">



            <h1 class="col-sm-9" id="title">Community Resources Admin Page</h1>

            <div class="col-s-3" id="google_translate_element"></div>
            <script type="text/javascript">

                function googleTranslateElementInit() {

                    new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'en,es,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element');

                }

            </script>
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </div>



    </header>

<div class='index-page'>
        
    <h2>
        <a class="btn btn-primary" id="index-create-btn" asp-action="Create">Create New Resource</a>
    </h2><br>
    @using (Html.BeginForm("Index", "Organizations", FormMethod.Get))
    {
    <div>
        <h4> Search Organization by Name:</h4>
        <div class="row" id="org-filter">
            <input type="text" name="searchString" value="" style="border: 2px solid #CFCFCF;" />
            <input class="btn btn-primary" id="filter-btn" type="submit" value="Filter" size="5"/>
        </div>
    </div>
    }


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contacts.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contacts.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Last_Updated)
                </th>
                <th>Edit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) { 
        <tr>
            <td>
                <h5>@item.Name</h5>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacts.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacts.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Updated)
            </td>
            <td>
                <p><a asp-action="Edit" asp-route-id="@item.Id"><!--Edit--> Organization</a></p>
                @if (item.Contacts != null)
    {
            <p>
                <a asp-controller="Contacts" asp-action="Edit" asp-route-id="@item.Contacts.Id"><!--Edit--> Contact</a>
            </p>}
                @if (item.Contacts == null)
    {
            <p>
                <a asp-controller="Contacts" asp-action="Create" asp-route-id="@item.Id"><!--Edit--> Contact</a>
            </p>}
                @if (item.Resources != null)
    {
            <p>
                <a asp-controller="Resources" asp-action="Edit" asp-route-id="@item.Resources.Id"><!--Edit--> Resources</a>
            </p>}
                @if (item.Resources == null)
    {
            <p>
                <a asp-controller="Resources" asp-action="Create" asp-route-id="@item.Id"><!--Edit--> Resources</a>
            </p>}
                <p>
                    <a asp-controller="Times" asp-action="AddTimes" asp-route-id="@item.Id"><!--Edit--> Times</a>
                </p>
            </td>
            <td>
                <p>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </p>
                <p>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </p>
            </td>
        </tr>
}
        </tbody>
        <tfoot>
            <tr>
                <th> @Html.DisplayNameFor(model => model.Name) </th>
                <!--<th> @Html.DisplayNameFor(model => model.Photo_ID) </th>
                <th> @Html.DisplayNameFor(model => model.Other_Requirements) </th>
                <th> @Html.DisplayNameFor(model => model.Other_Requirements_Text) </th>
                <th> @Html.DisplayNameFor(model => model.Appointments_Available) </th>
                <th> @Html.DisplayNameFor(model => model.Appointments_Required) </th>
                <th> @Html.DisplayNameFor(model => model.Additional_Comments) </th>-->
                <th> @Html.DisplayNameFor(model => model.Contacts.Phone) </th>
                <th> @Html.DisplayNameFor(model => model.Contacts.Email) </th>
                <th> @Html.DisplayNameFor(model => model.Last_Updated) </th>
                <th> Edit </th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
</body>