@page
@model IEnumerable<_340_Framework.Models.Times>


@{
    ViewData["Title"] = "Index";
}

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time_Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time_End)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Day)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time_Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time_End)
                    </td>
                </tr>
            }
        </tbody>
    </table>
