@model IEnumerable<CommunityResources.Models.Time>
@{
    ViewData["Title"] = "AddTimes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Add More Times </h2>

<h3>
    <a asp-action="Create" asp-route-id=@ViewData["FK"]>Add Another Time</a>
</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time_Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time_End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repeat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time_Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time_End)
            </td>
            @if (item.Repeat.Equals(0))
    {
        <td>
            Every Week
        </td>}
            @if (item.Repeat.Equals(1))
    {
        <td>
            1st Week
        </td>}
            @if (item.Repeat.Equals(2))
    {
        <td>
            2nd Week
        </td>}
            @if (item.Repeat.Equals(3))
    {
        <td>
            3rd Week
        </td>}
            @if (item.Repeat.Equals(4))
    {
        <td>
            4th Week
        </td>}
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimesId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.TimesId" >Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<h3>
    <a asp-controller="Organizations" asp-action="Index">Finish</a>
</h3>
